body {

	background-color:#000011;
	color:#FFDDDD;

}
.title {

	font-family:"Helvetica";
	text-align:center;
	color:FFDDDD;
	
}
.sidebar {

	font-family:"Arial";
	text-align:center;
	width:20%;
	color:FFDDDD;
	max-width:150px;
	background-color:#111122;
	float:left;
	min-height:500px;

}
.content {
	
	font-family:"Arial";
	text-align:Center;
	background-color:#111122;
	color:FFDDDD;
	margin-right:50px;
	margin-left:155px;
	min-height:500px;
	
}
.footer {

	text-align:Center;
	background-color:#111122;
	min-height:10px;
	padding:1px;

}
.aaa {

	border-color:BLUE;
	border-width:5px;	

}
a:link {

    text-decoration:none;
	color:#DDDDDD;

}

a:visited {

    text-decoration: none;
	color:#DDDDDD;

}

a:hover {

    text-decoration: underline;

}

a:active {

    text-decoration: underline;

}